<main class="container w-100 m-auto form-signin">
    <form [formGroup]="timmyForm" (submit)="onSubmit()">
    
        <h1 class="h3 mb-3 fw-normal text-center">This is my form</h1>

        <div class="mb-3">
            <label for="credit-card" class="form-label">Credit Card Number</label>
            <input
                id="credit-card"
                name="credit-card"
                type="text"
                placeholder="Enter your 16-digit card number"
                class="form-control"
                credit-card
            >
        </div>
        
        <div class="mb-3">
            <label for="sa-cell-number" class="form-label">Mobile Number</label>
            <input
                id="sa-cell-number"
                name="sa-cell-number"
                type="text"
                placeholder="Tel. number"
                class="form-control"
                SaCellNumber
            >
        </div>
        

    
    </form>

</main>